@import '../constant/variable';
@media screen and (max-width: 991px) {
    .layout{
        position: $ab;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all .8s;
        transform: translateX(100%);
        background: $white;
        z-index: 5;
    }
    .back{
        transform: translateX(0%);
    }
}