@import '../constant/variable';

.text{
    padding: $lg-pd;
    line-height: 40px;
    span{
        padding: 5px;
        border-radius: 5px;
        background: $brown;
        color: $white;
    }
    h2{
        padding: $sm-pd 0;
        font-size: 50px;
        text-transform: $capitalize;
    }
    a{
        text-decoration: none;
        color: $black;
        font-weight: bold;
        padding: $sm-pd 0;
        position: relative;
        &::before, &::after{
            position: absolute;
            bottom: 0;
            content: '';
            width: 50%;
            height: 3px;
            background: $brown;
            left: 0;
            transition: all .5s;
        }
        &::after{
            right: 0;
            background: $brown;
            width: 0%;
            left: auto;
        }
        &:hover{
            &::before{
                width: 0%;
            }
            &::after{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .text{
        padding: $md-pd;
        h2{
            font-size: 33px;
        }
        p{
            &:first-child{
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .text{
        position: absolute;
        top: 50%;
        left: calc(50% + 20px);
        transform: translate(-50%, -50%);
        color: $white;
        a{
            color: $white;
            &::before, &::after{
                background: $white !important;
            }
        }
    }
}